body{
  background-color: white;
  height: 100vh;
  width: 100vw;

  padding: 0;
  margin: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  header{
      
      display: flex;
      justify-content: center;
      align-items: center;
      
      
      height: 3rem;
      position: absolute;
      right: 0;
      top: 0;



      ul{
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          list-style: none;
          li{
              a{text-decoration: none;color: black;}
              margin: 0.5rem 0.5rem 0.5rem 0.5rem;
              img{
                  width: 2rem;
                  cursor: pointer;
              }
              button{
                  font-size: 1rem;
                  background-color: white;
                  border-radius: 50%;
                  border:none;
                  width: 2rem;
                  height: 2rem;
              }
              button:hover{
                  background-color: grey;
              }
              .dropDown{
                  color: blueviolet;
      
          
                  

                  .dropDownItems{
                      color: chartreuse;
                      position: absolute;
                      top: 3;
                  }
              }

              
          }
          .fila{
              overflow: hidden;
              transition: 0.5ms;
          }
      }
  }
  main{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
  }
}